{% extends 'base.html' %}
{% load static %}

{% block content %}
{{block.super}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="index">
    <p class="text-center" style="color:red;"> ** Update profile to allow posting of new business ** </p>
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                {% for hood in hoods %}
                <h2 class="text-center"> {{ hood.neighbourhood_name }} </h2>
                <p class="text-center"> {{ hood.neighbourhood_location }} </p>
                <p class="text-center"> {{ hood.occupants }} people </p>
                <a href="{% url 'business' hood_id=hood.id %}"><button type="button" class="btn btn-secondary btn-lg btn-block" >View Hood</button></a>
                <hr>
                {% endfor %}
            </div>
            <div class="col-md-4"> </div>
        
        </div>
    </div>
    
</body>
</html>

{% endblock %}