{% extends 'base.html' %}

{% block content %}
{{block.super}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% for hood in hoods %}
    <div class="container">
        
        <div class="row">
            <div class="col-md-4"><hr></div>
            <div class="col-md-4">
                <h2 class="text-center"> {{ hood.neighbourhood_name }} </h2>
                <p class="text-center"> {{ hood.neighbourhood_location }} </p>
                <p class="text-center"> {{ hood.occupants }} people </p>
                <a href="{% url 'business' hood_id=hood.id %}"><button type="button" class="btn btn-secondary btn-lg btn-block" >View Hood</button></a>
                <hr>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#demo">View Hood</button>
                <div id="demo" class="collapse in">

                    <h4> {{ b.business_name }} </h4>
                        
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    
                </div>
                <hr>
            </div>
            <div class="col-md-4"></div>
        
        </div>
    </div>
    {% endfor %}
</body>
</html>

{% endblock %}